<% @candidates.each do |candidate| %>
  <%= link_to candidate_path(candidate) do %>
    <h3><%= candidate.first_name %> <%= candidate.last_name %></h3>
  <% end %>
<% end %>
<%= link_to "+ New candidate", new_candidate_path, class: "btn btn-primary"%>
