// table, td {
//   border: 1px solid black;
// }
table {
  table-layout: fixed;
}

table {
  text-align: center;
  vertical-align: center;

  td {
    border-bottom: 1px solid black;
  }
  tr {
    vertical-align: center;
  }

  th, td {
    padding: 5px;
  }
}
